@import "./_global";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Lato:ital,wght@0,300;1,300&family=Lora:ital,wght@0,500;1,500&family=Montserrat:ital@0;1&family=Playfair+Display:ital,wght@0,600;1,500&family=Roboto:ital@0;1&display=swap");

:root {
  --dosis: "Dosis", sans-serif;
  --lato: "Lato", sans-serif;
  --lora: "Lora", serif;
  --monster: "Montserrat", sans-serif;
  --playfair: "Playfair Display", serif;
  --roboto: "Roboto", sans-serif;
}
@mixin card() {
  width: 100%;
  padding: 3rem 0;
  background-color: #fff;
}
@mixin btn($bgc) {
  padding: 10px 25px;
  background-color: $bgc;
  color: #fff;
  font-size: 1.2rem;
  border: 0;
  transition: all 0.5s linear;
  border-radius: 30px;
}

@mixin title() {
  text-align: center;
  font-size: 2rem;
  font-family: var(--lora);
}
@mixin grid($gtc) {
  display: grid;
  grid-template-columns: $gtc;
  gap: 3rem;
  align-items: center;
}
h2 {
  font-size: 1.3rem;
  font-family: --lora;
}
p {
  font-size: 1rem;
  font-family: var(--lato);
}
.header {
    position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/images/banner2.jpg);
  background-size: cover;
  .navigation {
    width: 90%;
    height: 14vh;
    margin: 0 auto;
    .navbar {
      height: 14vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navbar__nav {
       
        a {
          color: #fff;
          margin-left: 20px;
          font-size: 1.2rem;
          font-family: var(--playfair);
        }
      }
    }
  }
  .banner {
    margin-top: 10%;
    width: 30%;
    margin-left: 10%;
    font-family: var(--lora);
    h1 {
      font-size: 3rem;

      color: #000;

      span {
        color: rgb(246, 115, 67);
      }
    }
    button {
      @include btn(#2b2b2b);
      margin-top: 1rem;

      &:hover {
        background-color: rgb(246, 115, 67);
      }
    }
  }
  .navbar__nav {
    .fa-bars {
      font-size: 1.5rem;
      display: none;
    }
    .active {
      background-color: rgb(56, 54, 54);
      padding: 5px 15px;
      color: white;
    }
    a {
      margin-left: 15px;
      color: black;
      font-size: 1.3rem;
      font-family: var(--lora);
      padding: 5px 15px;
      transition: all 0.2s linear;
      &:hover {
        background-color: rgb(56, 54, 54);
        padding: 5px 15px;
        color: white;
      }
    }
  }
  .img{
    position: absolute;
transform: translate(-50%, -50%);
   left: 50%;
   top: 100%;
    img{
        width: 80px;
        position: relative; 

    }
  }

}

.our {
  @include card();
  background-image: url(/images/plan_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  .title{
    margin-bottom: 2rem;
  }

  .img__title{
    img{
        width: 60px;
        margin: 0 auto;
        margin-top: 10vh;
        
    }
  }
  h2 {
    @include title();
    
  }
}

.our__content {
  @include grid(repeat(3, 1fr));
  text-align: center;
  .our__item {
    .img {
      position: relative;
      border: 25px solid white;
    }
    .title {
        background-color: rgba(250, 191, 119, 0.898);
        transition: all 0.5s linear;
        padding: 1rem 1rem;
        position: relative;
        text-align: center;
        &:hover h2{
            color: #fff;
        }
      h2 {
        font-size: 1.5rem;
        align-items: center;
      }
      p{
        color: #fff;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 1rem;

      }

      button {
        @include btn(#2b2b2b);
        position: absolute;
        transform: translate(-50%, -100%);
        left: 50%;
        top: 110%;
        opacity: 0;
      }
&:hover button{
  opacity: 1;
}
    }
  }
}

.and{
  @include card();
  padding: 4rem 0;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;

  .img__title{
    img{
        width: 60px;
        margin: 0 auto;
        margin-top: 10vh;
        
    }
  }
  h2{
    @include title();
  }
}

.and__content{
    @include grid(repeat(3, 1fr));
  text-align: center;
  margin-top: -20vh;
  .img1{
    margin-top: 50vh;
  }
  
}
.img2{
    img{
        width: 100px;
        margin: 0 auto;
        margin-top: 10vh;
    }
  }

  .about{
    @include card();
    background-image: url(/images/about_bg.jpg);
    background-repeat: no-repeat;

  }

  .about__content{
    @include grid(repeat(2,1fr));
    .about__item{
      .img{
        img{
          width: 60px;
        }
      }
        h2{
            font-size: 3rem;
        }
        button{
            @include btn(#2b2b2b);
            margin-top: 1.2rem;
            &:hover{
                background-color: rgb(229, 14, 68);
            }
        }

    }
  }


  .blog{
    @include card();
    .title{
      h2{
              @include title();
      }
      .img{
        img{
          margin: 0 auto;
          width: 60px;
        }
      }
    }
  }
  .blog__content{
    margin-top: 3rem;
    @include grid(repeat(2,1fr));
    box-shadow: 0 0 20px rgb(122, 122, 122);
    .blog__item{
      h4{
        margin-bottom: 50px;
        color: rgb(173, 173, 173);
      }
      h2{
        font-family: var(--lora);
        margin-bottom: 30px;
        font-size: 30px;
      }
      p{
        margin-bottom: 30px;
      }
      .img{
        position: relative;
        .date{
          position: absolute;
          transform: translate(-100%,-50%);
          left: 100%;
          top: 50%;
          display: flex;
          flex-direction: column;
          background-color: #ff6781;
          color: #fff;
          padding: 5px 15px;
          font-size: 20px;
          font-weight: 900;
          text-align: center;
        }
      }
    }
  }

  .grooms{
    @include card();
    text-align: center;
    .title{
      h2{
        @include title();
        margin-bottom: 40px;
      }
      .img{
        img{
          margin: 0 auto;
          width: 60px;
        }
      }
    }
  }

  .grooms__content{
  
    .grooms__item{
      text-align: center;
      .img{
        img{
          width: 30%;
          margin: 0 auto;
        }
      }
      h2{
        @include title();
        margin-top: 9vh;
      }
      p{
        width: 45%;
        margin: 0 auto;
      }
    }
  }
  .visit{
    width: 100%;
    height: 25vh;
    padding: 3rem 0;
    position: relative;
    
    .black{
      position: absolute;
      width: 100%;
      height: 50%;
      background-color: #2b2b2b;
      bottom: 0;
      left: 0;

    }
    .visit__item{
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%;
      width: 70%;
      margin: 0 auto;
      padding: 2rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #ff6781;
      box-shadow: 0 0 20px grey;
      font-size: 1.2rem;
      z-index: 9;
      background-color: #fff;
    }
  }

  .contact{
    width: 100%;
    background-color: #2b2b2b;
  }
  
.contact__content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  align-items: center;
  .contact__item{
    form{
      h2{
        @include title();
        color: #fff;
      }
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input{
        height: 8vh;
        text-indent: 10px;
        font-size: 1.1rem;
        background-color: #2b2b2b;
        border: 0;
        color: #fff;
        border-bottom: 1px solid #fff;
      }
      textarea{
        height: 8vh;
        text-indent: 10px;
        font-size: 1.1rem;
        background-color: #2b2b2b;
        border: 0;
        border-bottom: 1px solid #fff;
      }
      button{
        width: 120px;
   padding: 10px 25px;
   font-size: 1.2rem;
   border-radius: 30px;
   margin: 0 auto;
   background-color: rgba(255, 95, 95, 0.755);
   color: #fff;
   transition: 1s;
   &:hover{
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 20px #fff;
   }
      }
    }
    .social{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      color: #fff;
      i{
        margin-left: 15px;
      }
    }
  }
}
.copyRight{
  background-color: #2b2b2b;
  text-align: center;
  color: #fff;
  padding: 1rem 0;
 p{
   font-size: 1.1rem;
 }
}